.welcome {
    height: auto;
    max-width: 100%;
    background-color: rgb(56, 97, 209);
}
.bg-sky{
    background-color: skyblue;
}
.bg-grass {
background-color: mediumseagreen;
}
.position-middle {
    left: 50%;
    top: 50%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.welcome img {
    object-fit: cover;
    height: 100vh;
}
.fondohome {
    background-image: url(../img/home02.jpg);
    background-size: 100%;
    width: 100% ;
    min-height: 300px;
    object-fit: cover;
    background-repeat: no-repeat;
}
/* .carousel-item img {
    height: 15vh;
    max-width: 100%;
    object-fit: cover;
} */
.pictfront img {
    height: 20vh;
    max-width: 100%;
    object-fit: cover;
}
.vh-25 {
    height: 25vh;
}